.page-content {
    margin-left: 35%;
    text-align: left;
    font-family: "Arial";
}

.h1 {
    font-family: "Alegreya";
}


.tags {
    font-family: "Alegreya";
    font-size: 25px;
}

.tags spanui {
    font-family: "Alegreya";
    font-size: 25px;
    background-color:rgb(255, 96, 96);
    color: black;
    border-radius: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 10px 0 10px;
}

.tags spancore {
    font-family: "Alegreya";
    font-size: 25px;
    background-color: rgb(255, 202, 104);
    color: black;
    border-radius: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 10px 0 10px;
}

.tags spantesting {
    font-family: "Alegreya";
    font-size: 25px;
    background-color: rgb(131, 230, 233);
    color: black;
    border-radius: 10px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: 0 10px 0 10px;
}

.taskname {
    font-family: 'Open Sans';
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.taskname::placeholder {
    color: black;
}

.taskname:placeholder-shown {
    border: none;
}

.descriptiontext {
    font-family: 'Alegreya';
    font-size: 15px;
    color: black;
    width: 40%;
    max-height: 120px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #dbd5d5;
}

.descriptiontext::placeholder {
    color: black;
    text-align: left;
    
}

.descriptiontext:placeholder-shown {
    border: 1px solid #dbd5d5;
    background-color: #dbd5d5;
}

.storytext {
    font-family: 'Alegreya';
    font-size: 15px;
    color: black;
    width: 40%;
    max-height: 120px;
    min-height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #dbd5d5;
}

.storytext::placeholder {
    color: black;
    text-align: left;
    
}

.storytext:placeholder-shown {
    border: 1px solid #dbd5d5;
    background-color: #dbd5d5;
}

.mdl-textfield__input {
    font-family: 'Alegreya';
    font-size: 15px;
    color: black;
    width: 40%;

}

.taskimage {
    margin-bottom: 16px;
}

.priorityimg {
    margin-bottom: 5px;
}

.criticalimg {
    width: 40px;
    height: 40px;
}

.highimg {
    width: 40px;
    height: 40px;
}

.mediumimg {
    width: 40px;
    height: 40px;
}

.lowimg {
    width: 40px;
    height: 40px;
}

.descriptionimg {
    margin-bottom: 16px;
}

textarea {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: none;
}

.mdl-layout__header-row {
    background-image:url("img/background.png");
    height: 150px;
    background-size: contain;
}

green_highlight { 
color: green;
font-family: 'Open Sans';
}

orange_highlight {
color: orange;
font-family: 'Open Sans';
}

blue_highlight { 
color: rgb(78, 78, 233);
font-family: 'Open Sans';
}

red_highlight { 
color: red;
font-family: 'Open Sans';
}

storyfont { 
font-family: 'Open Sans';
}

bugfont { 
font-family: 'Open Sans';
}

notstartedfont { 
font-family: 'Open Sans';
}

inprogress { 
font-family: 'Open Sans';
}

completed { 
font-family: 'Open Sans';
}
